.alert {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

@import "~bootstrap/scss/bootstrap";

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.footer {
  margin-top: 10px;
  border-top: black;
  border-top-style: solid;
}